<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="erostamas.shopper" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayShoppingsActivity"
            android:label="Shoppings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="erostamas.shopper.MainActivity" />
        </activity>
        <activity
            android:name=".DisplayStoresActivity"
            android:label="Stores"
            android:parentActivityName=".DisplayShoppingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="erostamas.shopper.MainActivity" />
        </activity>
        <activity
            android:name=".DisplayItemsActivity"
            android:label="Items"
            android:parentActivityName=".DisplayStoresActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="erostamas.shopper.DisplayStoresActivity" />
        </activity>
        <activity
            android:name=".CreateShoppingActivity"
            android:label="Create new shopping"
            android:parentActivityName=".DisplayShoppingsActivity"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="erostamas.shopper.MainActivity" />
        </activity>
        <activity
            android:name=".CreateItemActivity"
            android:label="Add new item"
            android:parentActivityName=".DisplayItemsActivity"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="erostamas.shopper.DisplayItemsActivity" />
        </activity>
        <activity
            android:name=".CreateStoreActivity"
            android:label="Add new store"
            android:parentActivityName=".DisplayStoresActivity"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="erostamas.shopper.DisplayStoresActivity" />
        </activity>
    </application>

</manifest>
